@tailwind base;
@tailwind components;
@tailwind utilities;

.job-fit {
  background: linear-gradient(to left, rgba(226, 207, 244, 0.8), rgba(235, 224, 224, 1));
}

.WaveWrapper {
  height: 5%;
  min-height: 50px;
  opacity: 1;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #e4f4fb;
  z-index: 1;
}

/* wave */
.WaveWrapper .wave {
  background: url("/svg/wave.svg") repeat-x;
  position: absolute;
  top: -100px;
  width: 6400px;
  height: 100px;
  animation: wave 35s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translateZ(0);
}

.WaveWrapper .wave:nth-of-type(2) {
  top: -56px;
  animation:
    wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1600px);
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
/* wave */
